a {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a:link    { color: blue;
            background-color: transparent;}
a:visited { color: red;
            background-color: transparent;}
a:hover   { color: green;
            background-color: transparent;}
a:active  { color: pink;
            background-color: transparent;}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*
If you want to use this border-box within your own projects, and update all the block elements as well, you can use this code:

*,
*:before,
*:after {
   box-sizing: border-box;
}
*/
